.footer {
  color: white;
  background-color: rgb(79, 147, 79);
  padding-top: 2em;
  position: bottom;
  bottom: 0;
  width: 100%;
  margin-top: 2.5vh;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bottom{
  text-align: center;
  align-items: center;
}
  hr{
    border: 5px;
    border-width: 5px;
    border-radius: 5px;
}
.list-unstyled {
  list-style: none;
}
@media screen and (max-width: 768px){
  .footer {
    padding-top: 2em;
    margin-top: 2vh;
  }
    hr{
      border: 2.5px;
      border-width: 2.5px;
  }
  .footer p{
    font-size: 10px;
  }
  .footer h4{
    font-size: 15px;
  }
  .footer li{
    font-size: 15px;
  }
}



/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #f2f6f2, #ffffff);
  border: 0;
  border-radius: 12px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(255, 255, 255, 0.5), .125rem .125rem 1rem rgba(90, 255, 126, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(255, 255, 255, 0.5), .125rem .125rem 1rem rgba(90, 255, 115, 0.5);
}


