.footer {
  color: white;
  background-color: #015447;
  padding-top: 2em;
  position: bottom;
  bottom: 0;
  width: 100%;
  margin-top: 2.5vh;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bottom{
  text-align: center;
  align-items: center;
}
  hr{
    border: 5px;
    border-width: 5px;
    border-radius: 5px;
}
.list-unstyled {
  list-style: none;
}
.footer-link{
  list-style: none;
}
@media screen and (max-width: 768px){
  .footer {
    padding-top: 2em;
    margin-top: 2vh;
  }
    hr{
      border: 2.5px;
      border-width: 2.5px;
  }
  .footer p{
    font-size: 10px;
  }
  .footer h4{
    font-size: 15px;
  }
  .footer li{
    font-size: 15px;
  }
}

.link{
  text-decoration: none;
  color: white;
}