@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
.About {
  margin-top: 15px;
}

.About-list {
  list-style: circle;
  list-style-position:inside;
  
}


.About-list li{
  text-indent: 5%;
}
.disc-list {
  list-style: disc;
  list-style-position:inside;
  
}


.disc-list li{
  text-indent: 5%;
}
.Contact {
  margin-top: 2%;
  margin-left: 20%;
  background-color: white;
  color: green;
  text-align: left;
  margin-bottom: 5%;
}

.title{
 color: green ;
}

.Contents {
  color: green;
  margin-left: 20%;
  margin-right: 20%;
  word-spacing: 5px;
  line-height: 27px;
}

hr{
  border: #fff;
}


.Thermal-list {
  list-style:circle;
  margin-left:6%;
}

.plane-list {
  list-style: none;
  list-style-position:inside;
  display: inline;
}

.plane-list li{
  text-indent: 5%;
}

.dottes-list {
  list-style: square;
  list-style-position: inside;
  word-wrap:break-word;
}
.dottes-list li {
  text-indent: 5%;

}
.contact_title{
  color: green;
  margin-left: 20%;
}


/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #f2f6f2, #ffffff);
  border: 0;
  border-radius: 12px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(255, 255, 255, 0.5), .125rem .125rem 1rem rgba(90, 255, 126, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(255, 255, 255, 0.5), .125rem .125rem 1rem rgba(90, 255, 115, 0.5);
}
.table-container{
  display: flex;
  justify-content: center;
}
table, th, td {
  border: 1px solid;
  border-color: black;
  color: green;
  width: 80%;
  word-spacing: 5px;
  line-height:200%;
  text-align: center;
}



.table-image{
  height: 250px;
  width: 250px;
}

.flyer{
  height: 50vh;
  width:100%;
  object-fit:cover
}

@media screen and (max-width: 768px) {
  .Contents {
    font-size: 1.1rem;
  }
  .flyer{
    width: 100%;
    height: auto;
  }
 
}
